aniso8601==8.0.0
appdirs==1.4.4
APScheduler==3.6.3
apturl==0.5.2
asn1crypto==0.24.0
astroid==2.4.2
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.6.0
cachetools==4.1.1
catfish==1.4.4
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
Cheetah3==3.2.5
click==7.1.2
clickclick==1.2.2
command-not-found==0.3
connexion==2.7.0
cryptography==2.9.2
cupshelpers==1.0
decorator==4.4.2
defer==1.0.6
devscripts===2.17.12ubuntu1.1
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
docopt==0.6.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
freeopcua==0.90.3
google-api-core==1.22.0
google-api-python-client==1.11.0
google-auth==1.20.0
google-auth-httplib2==0.0.4
google-cloud-core==1.3.0
google-cloud-firestore==1.8.1
googleapis-common-protos==1.52.0
gpg==1.10.0
grpcio==1.30.0
gunicorn==20.0.4
html5lib==0.999999999
httplib2==0.18.1
idna==2.10
img2pdf==0.2.3
importlib-metadata==1.7.0
importlib-resources==2.0.1
inflection==0.5.0
ipython==7.16.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
lml==0.0.9
lxml==4.5.0
MarkupSafe==1.1.1
mccabe==0.6.1
meld==3.18.0
menulibre==2.2.0
mugshot==0.4.0
mysql-connector-python==8.0.20
netifaces==0.10.4
numpy==1.19.0
oauth==1.0.1
olefile==0.45.1
onboard==1.4.1
opcua==0.98.12
opcua-client==0.8.0
opcua-widgets==0.5.9
openapi-spec-validator==0.2.9
packaging==20.4
parso==0.7.0
pexpect==4.2.1
pickleshare==0.7.5
Pillow==5.1.0
pipenv==2020.6.2
pluggy==0.13.1
prompt-toolkit==3.0.5
protobuf==3.12.2
protonvpn-cli==2.2.4
psutil==5.6.6
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pyexcel-ezodf==0.3.4
pyexcel-io==0.5.20
pyexcel-ods3==0.5.3
Pygments==2.6.1
pygobject==3.26.1
PyJWT==1.7.1
pylint==2.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqtgraph==0.11.0
pyrsistent==0.16.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.6.0
python-debian==0.1.32
python-debianbts==2.7.2
python-magic==0.4.16
pythondialog==3.5.1
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.4.0
requests==2.24.0
requests-unixsocket==0.1.5
rope==0.17.0
rsa==4.6
scour==0.36
SecretStorage==2.3.1
sgt-launcher==0.2.4
simplejson==3.13.2
six==1.15.0
swagger-ui-bundle==0.0.8
systemd-python==234
toml==0.10.1
tox==3.17.1
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unidiff==0.5.4
uritemplate==3.0.1
urllib3==1.25.10
virtualenv==20.0.25
virtualenv-clone==0.5.4
wadllib==1.3.2
wcwidth==0.2.5
webencodings==0.5
Werkzeug==1.0.1
wrapt==1.12.1
xcffib==0.5.1
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2
